body{
    background: #848484;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    margin: -500px auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #111;
    height: auto;
    width; 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: centter;
    flex-direction: column;
    text-align: center;
}

.footer-content a:link 
{ 
    text-decoration:none; 
    color: #BDBDBD;
} 

.footer-content a:hover{
    color: white;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transform: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .7;
    font-weight: 200;
}

body, html{
    height: 100%;
}

:root{
  --hauteur-menu: 60px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}

nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: #1C1C1C;
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li:hover > a{
  color: white;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: #BDBDBD;
}

.menu-deroulant > a:after{
  content: 'â¯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  border-radius: 2px;
  background-color: white;
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.sous-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;
}

.sous-menu > li:hover > a {
  color: white;
}

#main{
max-width:1600px;
min-height:100%;
margin:0 auto;
position:relative;
}

.glissou {
    width: 650px;
    height: 650px;
}

.slide {
    float: left;
}

.slides {
    width: calc(650px * 3);
    animation: glisse 10s infinite;
}

.slider {
    width: 650px;
    height: 982px;
    overflow: hidden;
    margin: 60px auto;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-650px);
    }
    43% {
        transform: translateX(-650px);
    }
    66% {
        transform: translateX(-1300px);
    }
    76% {
        transform: translateX(-1300px);
    }
    100% {
        transform: translateX(0);
    }
}